#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: #d1e4e8;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}

body {
    background-color: #d1e4e8;
}
header {
    background-color: #086582;
}
nav a:hover {
    background-color: #d1e4e8;
    color: #086582;
}
.book, .join {
    background-color: #e39123;
    color: black;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #086582;
    color: #d1e4e8;
}
#background {
    background-color: #e39123;
}
.msg {
    background-color: #086582;
    color: #d1e4e8;
}
footer{
    background-color: #086582;
    color: #d1e4e8;
}

.logo, .icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
/* Below I had to add, so what I was told to do for "footer p a:hover" would make sense */
footer p a {
    text-decoration: none;
    color: #d1e4e8;
}


