body {
    background-color: rgb(159, 191, 199);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    display: block;
    height: 30px;
    align-content: center;
}
nav a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

nav {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 40%;
    grid-template-rows: repeat(6, 40px);
    justify-content: center;
    gap: 10px;
}
#div p:nth-of-type(1) {
    background-color: black;
    grid-row: 1/2;
}


#p {
    margin-top: 60px;
}